.build/
build/
.winbuild/

.vscode/
.qtcreator/

.venv/
.winvenv/
.pytest_cache/

playground/

doc/html/
doc/_build/

CMakeLists.txt.user.*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts

Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build_qt_debug/
*.oct


